<h1><%=@game.name%></h1>
<br>
<h4>
    <%=@game[:rating]%>
    <br>
    <%=@game[:genre]%>
    <br>
    <%=@game[:platform]%>
    <video width="320" height="240" controls>
        <source src="<%@game.clip.clip%>" type="video/mp4">
    
</h4>
<% if logged_in? %>
    <form method="GET" action="/games">
        <input type="submit" value="Add Game"/>
    </form>
<% end %>