<h1>Posts</h1>
<br>
<h4><%@posts.each do |post|%>
    <a href="/posts/<%=post.id%>"><%=post.title%></a>
    <br>
    <br>
    <%=post.content%>
    <%end%>
</h4>
<% if logged_in? %>
    <form method="GET" action="/posts/new">
        <input type="submit" value="Create Post"/>
    </form>
<% end %>
