<h2>Create a post</h2>
<% if params[:title] = "" || params[:content] = "" %>
    <form action="/posts" method="POST">
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" id="title"/>
        </p>
        <p>
            <label for="content">Content:</label>
            <input type="text" name="content" id="content"/>
        </p>
        
        <input type="submit" value="create post"/>
        
    </form>
<% end %>