<h2>Post</h2>

<h4><%= @post.title %></h4>
<br>
<br>
<h6><%= @post.content %></h6>
<br>

<% if current_user && @post.user==current_user%>
<form method="GET" action="/posts/<%=params[:id]%>/edit">
  <input type="submit" value="edit"/>
</form>
<%end%>

<br>



