<div class="splash">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <div class="splash-head">
        <h2>Game Slack</h2>
    </div>

    <div class="splash-subhead-p">
      <p>
        Welcome to Game Slack, a place to leave message for to group up and play video games together.
      </p>
    </div>

    
    
    </div>
  </div>
</div>
